
.NUMBER,
.OPERATOR,
.asNumber {
  height: 33px;
  display: flex;
  min-width: 33px;
  width: min-content;
  border-radius: 10px;
  align-items: center;
  margin: 3px !important;
  max-width: max-content;
  justify-content: center;
  margin-top: 0px !important;
}

.OPERATOR {
  color: #1758ba;
  background-color: #1758ba1a;
}

.asNumber,
.NUMBER {
  color: #2cdfc9;
  background-color: #eafcfa;
}

.NEW_FIELD .customDropdown::before,
.NEW_FnFx .customDropdown::before {
  content: '';
  right: 0;
  width: 20px;
  height: 33px;
  position: absolute;
  background-size: 15px;
  background-color: #e8eef8;
  background-position: center;
  border-radius: 0 10px 10px 0;
  background-repeat: no-repeat;
}
.NEW_FnFx .customDropdown::before {
  background-image: url('/assets/icons/svg/ic_fx.svg');
}
.NEW_FIELD .customDropdown::before {
  background-image: url('/assets/icons/svg/ic_tick.svg');
}

.customDropdown[data-type='down']::after,
.customDropdown[data-type='up']::after {
  content: '';
  left: 6;
  width: 10px;
  height: 33px;
  position: absolute;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.customDropdown[data-type='up']::after {
  background-image: url('/assets/icons/svg/ic_arrow_up.svg');
}
.customDropdown[data-type='down']::after {
  background-image: url('/assets/icons/svg/ic_arrow_down.svg');
}

.NEW_FIELD .option {
  min-height: 33px;
  width: 100%;
  border-color: none;
  color: #fff;
  background-color: #1753af;
  border-radius: 10px;
  display: flex;
  margin: 4px 0;
  padding: 1px 5px;
  justify-content: start;
  align-items: center;
}

.NEW_FIELD {
  padding: 0px !important;
}

.NEW_FIELD,
.NEW_FnFx {
  height: 33px;
  width: 145px;
  border-color: none;
  position: relative;
  border-radius: 10px;
  margin: 3px !important;
  margin-top: 0px !important;
}
.NEW_FIELD {
  background-color: #1753af;
}
.NEW_FnFx {
  background-color: #9d2cdf;
}

.NEW_FnFx .customDropdown,
.NEW_FIELD .customDropdown {
  height: 100%;
  max-width: 90%;

  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #fff;
  display: flex;
  padding: 0 4px;
  border-color: none;
  border-radius: 10px;
  align-items: center;
  padding-right: 24px;
  white-space: nowrap;
  justify-content: start;
}

.NEW_FnFx .optionsContainer,
.NEW_FIELD .optionsContainer {
  width: 145px;
  padding: 8px;
  display: flex;
  z-index: 1000;
  min-height: 160px;
  max-height: 240px;
  position: absolute;
  overflow-y: scroll;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  justify-content: center;
  box-shadow: 0px 0px 50px 0px #00000033;
  /* transition-property: all; */
  /* transition-duration: .8s; */
  /* transition-timing-function: ease-in-out; */
}
.NEW_FnFx .optionsContainer {
  margin-top: 8px;
  margin-right: -5px;
}
.NEW_FIELD .optionsContainer {
  margin-top: 2px;
}

.NEW_FnFx .option,
.NEW_FIELD .option {
  width: 100%;
  color: #fff;
  margin: 4px 0;
  display: flex;
  min-height: 33px;
  padding: 1px 5px;
  border-color: none;
  border-radius: 10px;
  align-items: center;
  justify-content: start;
}
.NEW_FIELD .option {
  background-color: #1753af;
}
.NEW_FnFx .option {
  background-color: #9d2cdf;
}


.ContentEditable {
  height: 100%;
  width: 100%;
  outline: none;
}


.dynamicbtn {
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.dynamicdeletIcon {
  padding: 2px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  margin-right: 5px;
  color: rgb(220, 0, 78);
}
